<div class="col-md-6 offset-md-3 mb-5">
    <div class="card card-body mb-5">
        <table class="table table-bordered table-hover table-sm">
            <thead class="thead-dark">
                <tr>
                    <th>Index</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Marks</th>
                    <th>Degree</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                
                <tr class="table-info" *ngFor='let student of studentArr;index as i'>
                    <td>{{i+1}}</td>
                    <td>{{student.studentsName}}</td>
                    <td>{{student.age}}</td>
                    <td>{{student.marks}}</td>
                    <td>{{student.degree}}</td>
                    <td>
                        <!-- Button trigger modal -->
                        <button type="submit" class="btn btn-warning" data-toggle="modal" data-target="#modelId"
                            (click)='updateStudent(student)'>Update</button>

                        <!-- Modal -->
                        <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
                            aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Modal title</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form #editForm='ngForm' (ngSubmit)='service.updateStudent(editForm)'>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">Name</span>
                                                </div>
                                                <input type="text" #studentsName='ngModel' name="studentsName"
                                                    id="studentsName" [(ngModel)]='selectedStudent.studentsName'
                                                    class="form-control" placeholder="Enter the Name..." ngModel
                                                    required minlength="5" maxlength="20">
                                            </div>
                                            <div *ngIf='studentsName.touched && studentsName.invalid'>
                                                <div class="text-danger" *ngIf='studentsName.errors.required'
                                                    class="mb-3"><small style="float: right;color: red "> *Name Must be
                                                        Required</small></div>
                                                <div class="text-danger" class="mb-3"
                                                    *ngIf='studentsName.errors.minlength || studentsName.errors.maxlength'>
                                                    <small style="float: right; color: red"> *Minimum character should
                                                        be > 5 and maximum character should
                                                        be 20</small>
                                                </div>
                                            </div>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">Age</span>
                                                </div>

                                                <input type="number" #age='ngModel' name="age" id="age"
                                                    [(ngModel)]='selectedStudent.age' placeholder="Enter the age.."
                                                    class="form-control" ngModel required pattern="[0-9]{2}">

                                            </div>
                                            <div *ngIf='age.touched && age.invalid'>
                                                <div class="text-danger" *ngIf='age.errors.required' class="mb-3"><small
                                                        style="float: right;color: red "> *Age is Mandatory</small>
                                                </div>
                                                <div class="text-danger" *ngIf='age.errors.pattern' class="mb-3"><small
                                                        style="float: right;color: red "> *It only accepts 2 digit
                                                        Numbers</small>
                                                </div>
                                            </div>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">Marks</span>
                                                </div>

                                                <input type="number" #marks='ngModel' name="marks" id="marks"
                                                    [(ngModel)]='selectedStudent.marks' placeholder="Enter the marks..."
                                                    class="form-control" ngModel required pattern="[0-9]{3}">

                                            </div>
                                            <div *ngIf='marks.touched && marks.invalid'>
                                                <div class="text-danger" *ngIf='marks.errors.required' class="mb-3">
                                                    <small style="float: right;color: red "> *Marks is Mandatory</small>
                                                </div>
                                                <div class="text-danger" *ngIf='marks.errors.pattern' class="mb-3">
                                                    <small style="float: right;color: red "> *It only accepts 3 digit
                                                        Numbers</small>
                                                </div>
                                            </div>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">Degree</span>
                                                </div>
                                                <input type="text" #degree='ngModel' name="degree" id="degree"
                                                    [(ngModel)]='selectedStudent.degree'
                                                    placeholder="Enter the degree..." class="form-control" ngModel required maxlength="10" minlength="2">
                                            </div>
                                            <div *ngIf='degree.touched && degree.invalid'>
                                                <div class="text-danger" *ngIf='degree.errors.required' class="mb-3">
                                                    <small style="float: right;color: red "> *Degree Must be
                                                        Mandatory</small></div>
                                                <div class="text-danger" class="mb-3"
                                                    *ngIf='degree.errors.minlength || degree.errors.maxlength'>
                                                    <small style="float: right; color: red"> *Minimum character should
                                                        be > 2 and maximum character
                                                        should
                                                        be 10</small>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-success float-right"
                                                [disabled]='editForm.invalid' data-dismiss="modal">Update Now</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td><button type="submit" class="btn btn-danger"
                            (click)='service.deleteStudent(student)'>Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>